#buttons {
    z-index: 2001;
    position: fixed;
    bottom: 0%;
    left:0%;
    display: flex;
    min-width: 100vw;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    font-size: 85%;
  }
#legend {
  position: fixed;
  top: 3%;
  display:  flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
  left: 3%;
  text-align: left;
  background-color: #555;
  color: #f3f3f3;
  font-size: 55%;
}

td {
  width: 5%;
}

div#container {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 120px;
  height: 180px;
  margin: auto;
  background-color: rgba(255, 254, 254, 0.6);
  margin-top: 25px;
}

svg{
  width: 120px;
  height: 200px;
}

#start{
  background-color: white;
  z-index: 2011;
  min-width: 100vw;
  min-height: 100vh;
  position: flex;
  text-align: center;
  text-justify: center;
}
#intro{
  background-color: white;
  z-index: 2003;
  width: 100vw;
  position: absolute;
  height: 100vh;
  text-align: center;
  text-justify: center;
}

.wizard-btn-help{
  display: none !important;
}
.wizard-btn-finish{

}

#arjsDebugUIContainer{
  display: none;
}

.pageContent{
  z-index: 2004;
  margin: 5%;
}
.action-bar{
  pointer-events: all;
  width: 80vw; 
}

.wizard .action-bar>*{
  margin-left: 20px;
}
p{
  text-align: justify;
  overflow: hidden;
  word-wrap: none;
}
.small{
  top: 50%;
  height: 40%;
  background-color: white;
}
section{
  background-color: white;
}

#bottom{
  z-index: 2010;
}

.wizard>section{
  border-left-width: 0px;
}